*.mat
*.zip
*.pdf
*.docx
*.aux
*.log
*.out
*.synctex.gz


*.pdf
.vscode/
*.fasta
Module3/Notebooks/.ipynb_checkpoints/

Module3/PartB/gurobi.log
Module3/PartB/models/recon_2.2.xml
Modele3/PartB/.ipynb_checkpoints/*
*checkpoint.ipynb
*.xml

*.pyc
Module3/gurobi.log
